<?xml version="1.0" encoding="utf-8"?>
<main>
  <gamepath>C:\Program Files (x86)\Steam\steamapps\common\Sid Meier's Civilization IV Beyond the Sword\Beyond the Sword\Mods\RFC Dawn of Civilization</gamepath>
  <sourcepath>C:\Program Files (x86)\Steam\steamapps\common\Sid Meier's Civilization IV Beyond the Sword\Beyond the Sword\Mods\RFC Dawn of Civilization\Assets</sourcepath>
  <exceptions>
  </exceptions>
  <category file="DIPLOMACY">
    <tag>AI_</tag>
    <tag>USER_</tag>
    <tag>TXT_KEY_MISC_ATTITUDE</tag>
    <tag>TXT_KEY_TRADE</tag>
  </category>
  <category file="BUILDINGS">
    <tag>MOD_TXT_KEY_BUILDING</tag>
    <tag>TXT_KEY_BUILDING</tag>
    <tag>TXT_KEY_ATG_BUILDING</tag>
    <tag>TXT_KEY_CHINESE_UNIFICATION_BUILDING</tag>
    <tag>TXT_KEY_NEW_BUILDING</tag>
    <tag>TXT_KEY_VIKINGS_BUILDING</tag>
    <tag>TXT_KEY_CHANGED_BUILDING</tag>
    <tag>TXT_KEY_PROJECT</tag>
  </category>
  <category file="INTERFACE">
    <tag>TXT_KEY_BUG</tag>
    <tag>TXT_KEY_BUFFY</tag>
    <tag>TXT_KEY_AUTOLOG</tag>
    <tag>TXT_KEY_ADVISOR</tag>
    <tag>TXT_KEY_ANGER</tag>
    <tag>TXT_KEY_CIV4LERTS</tag>
    <tag>TXT_KEY_COLOR</tag>
    <tag>TXT_KEY_COMMAND</tag>
    <tag>TXT_KEY_DOMESTIC</tag>
    <tag>TXT_KEY_FINANCIAL</tag>
    <tag>TXT_KEY_FOREIGN</tag>
    <tag>TXT_KEY_GAMEOPTION</tag>
    <tag>TXT_KEY_GAMESPEED</tag>
    <tag>TXT_KEY_GAME_OPTION</tag>
    <tag>TXT_KEY_HANDICAP</tag>
    <tag>TXT_KEY_HINT</tag>
    <tag>TXT_KEY_INFO</tag>
    <tag>TXT_KEY_INTERFACE</tag>
    <tag>TXT_KEY_KEYBOARD</tag>
    <tag>TXT_KEY_LANDMARK</tag>
    <tag>TXT_KEY_LIST</tag>
    <tag>TXT_KEY_MAIN_MENU</tag>
    <tag>TXT_KEY_MAP</tag>
    <tag>TXT_KEY_MILITARY</tag>
    <tag>TXT_KEY_MORECIV4LERTS</tag>
    <tag>TXT_KEY_OPTIONS</tag>
    <tag>CHANGED_TXT_KEY_MAIN_MENU</tag>
    <tag>INTERFACE</tag>
	<tag>TXT_KEY_BUG_OPT</tag>
	<tag>SYSTEM</tag>
	<tag>TXT_BUDDY</tag>
	<tag>TXT_KEY_1STAR</tag>
	<tag>TXT_KEY_2STAR</tag>
	<tag>TXT_KEY_3STAR</tag>
	<tag>TXT_KEY_4STAR</tag>
	<tag>TXT_KEY_5STAR</tag>
	<tag>TXT_KEY_ADD_BUDDY</tag>
	<tag>TXT_KEY_AD</tag>
	<tag>TXT_KEY_ACTUAL</tag>
	<tag>TXT_KEY_ADD_MEMBER</tag>
	<tag>TXT_KEY_ADDED_BUDDY</tag>
	<tag>TXT_KEY_ADDRESS_REQUIRED</tag>
	<tag>TXT_KEY_ADVANCED_START</tag>
	<tag>TXT_KEY_AGE</tag>
	<tag>TXT_KEY_ALEXANDER_SCREEN_TITLE</tag>
	<tag>TXT_KEY_ALL</tag>
	<tag>TXT_KEY_ALREADY_BUDDY</tag>
	<tag>TXT_KEY_ALT</tag>
	<tag>TXT_KEY_ANARCHY</tag>
	<tag>TXT_KEY_AND</tag>
	<tag>TXT_KEY_APOSTOLIC_PALACE_RESIDENT</tag>
	<tag>TXT_KEY_AS_UNREMOVABLE</tag>
	<tag>TXT_KEY_AT_WAR</tag>
	<tag>TXT_KEY_ATTITUDE</tag>
	<tag>TXT_KEY_MISC_PEDIA</tag>
	<tag>TXT_KEY_PEDIA</tag>
	<tag>TXT_KEY_UNIQUE_BUILDINGS_PEDIA</tag>
  </category>
  <category file="RESOURCES">
    <tag>TXT_KEY_BONUS</tag>
    <tag>MOD_TXT_KEY_RESOURCE</tag>
    <tag>TXT_KEY_CHINESE_UNIFICATION_BONUS</tag>
  </category>
  <category file="ACTIONS">
    <tag>TXT_KEY_ACTION</tag>
    <tag>TXT_KEY_MISSION</tag>
    <tag>TXT_KEY_ESPIONAGE</tag>
    <tag>TXT_KET_ESPIONAGE</tag>
  </category>
  <category file="CITIES">
    <tag>TXT_KEY_CITY</tag>
    <tag>MOD_TXT_KEY_CITY</tag>
  </category>
  <category file="CIVICS">
    <tag>TXT_KEY_CIVIC</tag>
    <tag>MOD_TXT_KEY_CIVIC</tag>
    <tag>TXT_KEY_ATG_CIVIC</tag>
  </category>
  <category file="CIVILIZATIONS">
    <tag>TXT_KEY_CIV_</tag>
    <tag>TXT_KEY_TRAIT</tag>
    <tag>TXT_KEY_UP</tag>
    <tag>TXT_KEY_ADJECTIVE</tag>
    <tag>TXT_KEY_ARABIA</tag>
    <tag>CHANGED_TXT_KEY_CIV</tag>
    <tag>CHANGED_TXT_KEY_GREEKWAR_CIV</tag>
    <tag>TXT_KEY_CHANGED_CIV</tag>
  </category>
  <category file="COMBAT">
    <tag>TXT_KEY_COMBAT</tag>
    <tag>TXT_KEY_MISC_ATTACKER</tag>
    <tag>TXT_ACO_</tag>
  </category>
  <category file="CONCEPTS">
    <tag>TXT_KEY_CONCEPT</tag>
  </category>
  <category file="EVENTS">
    <tag>TXT_KEY_EVENT</tag>
    <tag>TXT_KEY_ASKCOLONIALCITY</tag>
  </category>
  <category file="GREAT_PERSONS">
    <tag>TXT_KEY_GREAT_PERSON</tag>
  </category>
  <category file="TERRAIN">
    <tag>TXT_KEY_IMPROVEMENT</tag>
    <tag>TXT_KEY_TERRAIN</tag>
    <tag>TXT_KEY_FEATURE</tag>
  </category>
  <category file="LEADERS">
    <tag>TXT_KEY_LEADER</tag>
  </category>
  <category file="RELIGIONS_CORPORATIONS">
    <tag>TXT_KEY_RELIGION</tag>
    <tag>TXT_KEY_CORPORATION</tag>
    <tag>CHANGED_TXT_KEY_CORPORATION</tag>
    <tag>TXT_KEY_MISC_CORPORATION</tag>
  </category>
  <category file="STRATEGIES">
    <tag>TXT_KEY_STRATEGY</tag>
    <tag>TXT_KEY_CONCEPT</tag>
    <tag>CONCEPT</tag>
    <tag>TXT_KEY_BTS_</tag>
    <tag>TXT_KEY_ROR_BONUS</tag>
    <tag>TXT_KEY_SHORTCUTS</tag>
  </category>
  <category file="TECHNOLOGIES">
    <tag>TXT_KEY_TECH</tag>
    <tag>TXT_KEY_NEW_GREEKWAR_TECH</tag>
  </category>
  <category file="UNITS">
    <tag>TXT_KEY_UNIT</tag>
    <tag>TXT_KEY_ALEXANDER_UNIT</tag>
    <tag>TXT_KEY_ATG_UNIT</tag>
    <tag>CHANGED_TXT_KEY_UNIT</tag>
    <tag>TXT_KEY_BARBARIAN_CAMP_PEDIA</tag>
    <tag>TXT_KEY_CHANGED_UNIT</tag>
    <tag>TXT_KEY_PROMOTION</tag>
  </category>
  <category file="STABILITY">
    <tag>TXT_KEY_STABILITY</tag>
    <tag>TXT_KEY_REV</tag>
  </category>
  <category file="VICTORY">
    <tag>TXT_KEY_UHV</tag>
    <tag>TXT_KEY_URV</tag>
    <tag>TXT_KEY_VICTORY</tag>
  </category>
</main>