<?xml version="1.0" encoding="utf-8"?>
<main>
  <Russian>
    <char unicode="1040">192</char>
    <char unicode="1041">193</char>
    <char unicode="1042">194</char>
    <char unicode="1043">195</char>
    <char unicode="1044">196</char>
    <char unicode="1045">197</char>
    <char unicode="1046">198</char>
    <char unicode="1047">199</char>
    <char unicode="1048">200</char>
    <char unicode="1049">201</char>
    <char unicode="1050">202</char>
    <char unicode="1051">203</char>
    <char unicode="1052">204</char>
    <char unicode="1053">205</char>
    <char unicode="1054">206</char>
    <char unicode="1055">207</char>
    <char unicode="1056">208</char>
    <char unicode="1057">209</char>
    <char unicode="1058">210</char>
    <char unicode="1059">211</char>
    <char unicode="1060">212</char>
    <char unicode="1061">213</char>
    <char unicode="1062">214</char>
    <char unicode="1063">215</char>
    <char unicode="1064">216</char>
    <char unicode="1065">217</char>
    <char unicode="1066">218</char>
    <char unicode="1067">219</char>
    <char unicode="1068">220</char>
    <char unicode="1069">221</char>
    <char unicode="1070">222</char>
    <char unicode="1071">223</char>
    <char unicode="1072">224</char>
    <char unicode="1073">225</char>
    <char unicode="1074">226</char>
    <char unicode="1075">227</char>
    <char unicode="1076">228</char>
    <char unicode="1077">229</char>
    <char unicode="1078">230</char>
    <char unicode="1079">231</char>
    <char unicode="1080">232</char>
    <char unicode="1081">233</char>
    <char unicode="1082">234</char>
    <char unicode="1083">235</char>
    <char unicode="1084">236</char>
    <char unicode="1085">237</char>
    <char unicode="1086">238</char>
    <char unicode="1087">239</char>
    <char unicode="1088">240</char>
    <char unicode="1089">241</char>
    <char unicode="1090">242</char>
    <char unicode="1091">243</char>
    <char unicode="1092">244</char>
    <char unicode="1093">245</char>
    <char unicode="1094">246</char>
    <char unicode="1095">247</char>
    <char unicode="1096">248</char>
    <char unicode="1097">249</char>
    <char unicode="1098">250</char>
    <char unicode="1099">251</char>
    <char unicode="1100">252</char>
    <char unicode="1101">253</char>
    <char unicode="1102">254</char>
    <char unicode="1103">255</char>
  </Russian>
</main>