.vs/
Assert/
Assert-fast/
Debug/
Debug-fast/
Debug-Opt/
Final_Release/
Final_Release-fast/
obj/
Profile/
Profile-fast/
Release/
_Release-fast/
temp_files/
*.opensdf
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user
*.opensdf
Makefile.settings
Makefile.user
